body{
margin:0 ;
padding: 0;
font-family:serif;
background:url(Images/Back.jpg) no-repeat;
background-size: auto;
}

.box{
    width:300px ;
    padding:30px ;
    top: 50%;
    left: 50%;
    position: absolute;
    transform:translate(-50%,-50%);
    text-align: center;
    background: #072C50;
}   
.box h1{
    color: aliceblue;
    text-transform: uppercase;
    font font-weight: 700;
}

.box input[type="text"],.box input[type="password"]
{
 border: 0;
 display: block;
 background: none;
 margin: 20px auto;
 border: 3px solid #635E87;
padding: 14px 10px;
outline: none;
border-radius:24px;
color: #fff;
transition: 0.25px;

}
/*
.box input[type="text"]:focus,.box input[type="password"]:focus{

 width:100%;
 border-color:#FFD700;

}
*/
.box input[type="submit"]{
    border:0 ;
    background:none ;
    display: block;
    margin:20px auto;
    text-align: center;
    border:3px solid #CFCAA8;
    padding:14px 10px;
    width: 30%;
    outline:none ;
    border-radius:24px;
    color: #fff;
    transition:0.25px ;
    cursor: pointer;
}

.box input[type="submit"]:hover{
    background: #CFCAA8;

}